.imageViewerContainer {
  background: #00000055;
  padding:10px;
  z-index: 4;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.4);
  width: 320px;
  cursor: default;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin-bottom: 10px;
  cursor: move; /* 只这块区域可拖动 */
  user-select: none;

  h1{
    margin: 0;
    font-size: 1rem;
  }
}

.closeBtn {
  background: none;
  border: none;
  color: white;
  font-size: 1.6rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageViewerContainer img {
  width: 100%;
  height: auto;
  display: block;
}
