.loadingScreen {
  position: fixed;
  display: flex;
  inset: 0;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  z-index: 100;
  background-color: black;
  flex-direction: column;
  gap: 50px;
  color: white;
}

.loadingSpinner {
  width: 50px;
  height: 50px;
  border: 10px solid rgba(0, 0, 0, 0.1); /* Light border */
  border-top: 9px solid #3b7c74; /* Blue border */
  border-radius: 50%; /* Circular shape */
  animation: spin 1s linear infinite; /* Spin animation */
}

.loadingProgressBar {
  width: 50%;
  height: 10px;
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 10px;
}

.loadingProgressBarFill {
  height: 100%;
  background-color: #3b7c74;
  transition: width 0.3s ease;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
