.logoContainer{
    position:absolute;
    top: 3rem;
    left: 3rem;
    width: 10rem;
    height: auto;
    z-index: 10;
    pointer-events: none;
    user-select: none;
}

.logo{
    width: 100%;
    height: 100%;
}