.subMenuContainer {
  position: absolute;
  bottom: 100%;
  width: 100%;
  height: auto;
  background-color: #00000055;
  display: flex;
  padding-inline: 100px;
  padding-block: 15px;
  box-sizing: border-box;
  justify-content: space-between;
  gap: 100px;
}

.visibilityBtn {
  position: absolute;
  top: -15px;
  right: calc(50% - 15px);
  width: 30px;
  height: 30px;
  border: #fff 1px solid;
  border-radius: 50%;
  background: #000000;
  cursor: pointer;
  color: #fff;
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 4px;
  svg {
    width: 100%;
    height: 100%;
  }
}
